* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img {
    height: 40vw;
    animation: chambar linear 300ms infinite;
}

@keyframes chambar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}